<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
	<link href="../stylesheets/mapstyles.css" rel='stylesheet'/>
	<script>
		var isAtStart=true;
		document.getElementById('fly').addEventListener('click', function() {
		    // Fly to Sudan 
		    var target = [15.5984, 32.5159];

		    // and now we're at the opposite point
		    isAtStart = !isAtStart;

		    map.flyTo({
		        // These options control the ending camera position: centered at
		        // the target, at zoom level 9, and north up.
		        center: target,
		        zoom: 9,
		        bearing: 0,

		        // These options control the flight curve, making it move
		        // slowly and zoom out almost completely before starting
		        // to pan.
		        speed: 0.2, // make the flying slow
		        curve: 1, // change the speed at which it zooms out

		        // This can be any easing function: it takes a number between
		        // 0 and 1 and returns another number between 0 and 1.
		        easing: function (t) {
		            return t;
		        }
		    });
		});
		</script>
    <title>CupOfNations</title>
</head>

<body>
	
	
	
    <div th:replace="${template}"/>	
	
</body>