<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
	<div id='map'></div>
	<br/>
	<button id='fly'>Fly</button>

	<div class='map-overlay-left-container'>
		<div class='map-overlay'>
			<h2 id='location-title'></h2>
			<p id='location-description'></p>
		</div>
	</div>
	
	
	<div class='map-overlay-center-container'>
		
			<h1>Coupe d'Afrique des Nations</h1>
			<p>The Total Africa Cup of Nations, officially CAN (French: Coupe d'Afrique des Nations), also referred to as African Cup of Nations, or AFCON, is the main international association football competition in Africa. It is sanctioned by the Confederation of African Football (CAF) and was first held in 1957. Since 1968, it has been held every two years.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LnAxfMmY6yI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
			<button id='Start'>Start Tour</button>
		</div>
		
		
	<div class='map-overlay-right-container'>
		<div class='map-overlay'>
			<h2>Standings</h2>
			<ol class="Standings">
				<li class="First" />
				<li class="Second" />
				<li class="Third" />
			</ol>
		</div>
	</div>
	
	
	
	
	
	<div class='View'><button id='Look'><i class="fa fa-info fa-3x"></i></button></div>
	
	<div class='Vote'><button id='UserVote'><i class="fa fa-thumbs-up fa-3x"></i></button></div>
	

	<div id="VoteForTeam" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
		  	<!-- DROP DOWN TO SELECT TEAM-->
			<h1>Holler for your favourite team, show them some love</h1>
			<div class="dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Select Country
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu" id="Countries">
			  </ul>
			</div>
			<input id="team" type="text" style="width:90%;height:50%;margin:5px;" /><br>
			<Button id="Submit">Submit</Button>
	  </div>  
	</div>  
	
	<div id="ViewPics" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">

		<button class="backward" onclick="plusDivs(-1)">&#10094;</button>
		<button class="forward" onclick="plusDivs(+1)">&#10095;</button>
	  <img class="Slides"  />
	  <img class="Slides"  />
	  <img class="Slides"  />
	  </div>
  </div>
	  
	
	<div class="container">
	  <h1 value="${records}" />
	  <ul th:each="record : ${records}">
	    <li class="feature" th:text="${record}"/>
	  </ul>
	</div>
	<script>
		var title = document.getElementById('location-title');
		var description = document.getElementById('location-description');
		var first=$(".First")
		var second=$(".Second");
		var third=$(".Third");
		var countries=null;
		var countryFav=null;
		var pos=-1;
		var flying=false;
		var slideIndex = 1;
		var images=null;
		var i=0;
		var modal_info = document.getElementById('ViewPics');
		var modal_vote = document.getElementById('VoteForTeam');
		var ul = document.getElementById("Countries");
		//FETCHED from DB (CAN BE USER INPUT )
		
		var featuresDB=[];
		for (i=0;i< $(".feature").length;i++)
		{
			var featuresText=$(".feature")[i].innerText;
			featuresDB.push(JSON.parse(featuresText));
		}
		console.log(featuresDB);

	function plusDivs(n) {
	    showDivs(slideIndex+n);
	}

	function showDivs(n) {
	    var i;
	    var x = document.getElementsByClassName("Slides");
		if(n>=0)
		 slideIndex=n%images.length;
		else
			slideIndex=images.length+n;
	    for (i = 0; i < x.length; i++) {
	        x[i].style.display = "none"; 
	    }
	    x[slideIndex].style.display = "block"; 
	}
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal_info) {
	        modal_info.style.display = "none";
	    }
		else if(event.target==modal_vote)
		{
			modal_vote.style.display = "none";
		}
	}
	
	$("#Submit").click(function()
{
	//INSERT INTO DB
	$("input team").value="";
	 $(".dropdown-toggle").text("Select Country"+"<span class='caret'></span>");
	modal_vote.style.display = "none";
});


$(".dropdown-menu").on('click', 'li', function(){
    $(".dropdown-toggle").text($(this).text()+"<span class='caret'></span>");
	country_fav=$this.text();
    
 });

	mapboxgl.accessToken = 'pk.eyJ1IjoicmFodWx0Z2VvcmdlIiwiYSI6ImNqaG5lODRjMjNwODIzNm5tcG1hNHV2MnUifQ.y_2bEvmsNFPRZoXqoZyxkg';
	var map=null;

	$("#Start").click(function(){
		clearInterval();
		$(".map-overlay-center-container").hide();
		$("#fly").show();
		setMap();
	});
	
	$("#Look").click(function(){
		$("#ViewPics").css("display","block");
		   var x = document.getElementsByClassName("Slides");
		   x[slideIndex].style.display = "block"; 	
	});
	
	$("#UserVote").click(function(){
		$("#VoteForTeam").css("display","block"); 
	  
	});
	
	function setMap()
	{
	
		map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v10',
			center: [0,0],
			zoom: 1,
		});
		
		map.on('moveend', function(){
			if(flying==true)
			{	
				if(pos==2)
				{
					$("#fly").html('Restart');
				}
				else
				{
					$("#fly").html('Continue');
				}
			    var i;
			    var x = document.getElementsByClassName("Slides");
				$(".map-overlay-left-container").show();
				$(".map-overlay-right-container").show();
				$(".View").show();	
				$(".Vote").show();	
				var feature=featuresDB[pos];
				images=feature.properties.images;
			    for (i = 0; i < x.length; i++) {
			        x[i].src = feature.properties.images[i]; 
				}
				title.textContent=feature.properties.title;
				description.textContent=feature.properties.description;
				first.text(feature.properties.standings.First);
				second.text(feature.properties.standings.Second);
				third.text(feature.properties.standings.Third);
				countries=(feature.properties.participants);
				flying=false;
				$.each(countries,function(index,val){
					var li = document.createElement("li");
					li.appendChild(document.createTextNode(val));
					ul.appendChild(li);
					li.setAttribute("id","country");
				});
			}
		});
	
	
				
				
		map.on('load', function () {

			map.addLayer({
				"id": "points",
				"type": "symbol",
				"source": {
					"type": "geojson",
					"data": {
						"type": "FeatureCollection",
						"features": featuresDB
					}
				},
				"layout": {
					"icon-image": "{icon}-15",
					"text-field": "{title}",
					"text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
					"text-offset": [0, 0.6],
					"text-anchor": "top"
				}}
			);
		});
	}

	document.getElementById('fly').addEventListener('click', function() {
		$(".map-overlay-left-container").hide();
		$(".map-overlay-right-container").hide();	
		$(".View").hide();	
		$(".Vote").hide();	
		pos=(pos+1)%featuresDB.length;
		var target = featuresDB[pos].geometry.coordinates;
        $("ul li").remove();
		map.flyTo({
			// These options control the ending camera position: centered at
			// the target, at zoom level 9, and north up.
			center: target,
			zoom: 18,
			bearing: 0,

			// These options control the flight curve, making it move
			// slowly and zoom out almost completely before starting
			// to pan.
			speed: 2, // make the flying slow
			curve: 1, // change the speed at which it zooms out

			// This can be any easing function: it takes a number between
			// 0 and 1 and returns another number between 0 and 1.
			easing: function (t) {
				return t;
			}
		});
		flying=true;		
	});
	
	</script>

</body>
</html>
